<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
	</head>
	<body>
		{{# prettify }}
			{{> header }}

			{{> body }}

			{{> footer }}

		{{/ prettify }}

		{{# scripts }}
		<script src="./js/{{ . }}.js"></script>
		{{/ scripts}}

	</body>
</html>
